[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".emacs.d/vendor/emacs-powerline"]
	path = .emacs.d/vendor/emacs-powerline
	url = https://github.com/jonathanchu/emacs-powerline
[submodule ".emacs.d/vendor/powerline"]
	path = .emacs.d/vendor/powerline
	url = https://github.com/milkypostman/powerline
[submodule ".emacs.d/org-roam-ui"]
	path = .emacs.d/org-roam-ui
	url = git@github.com:org-roam/org-roam-ui.git
[submodule ".emacs.d/idris2-mode"]
	path = .emacs.d/idris2-mode
	url = git@github.com:idris-community/idris2-mode.git
[submodule ".emacs.d/copilot.el"]
	path = .emacs.d/copilot.el
	url = https://github.com/zerolfx/copilot.el
