.config/nvim/plugged
.config/nvim/.netrwhist
.emacs.d/elpa
.emacs.d/ido.last
.emacs.d/url/
.emacs.d/bookmarks
.emacs.d/smex-items
.emacs.d/.#*
.emacs.d/.emacs.desktop
.emacs.d/eshell/history
.emacs.d/games/snake-scores
.emacs.d/transient
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/projectile.cache
.emacs.d/MCSH/tg-secret.el
.emacs.d/request/
